/target
.classpath
/.project
/bin
.DS_Store
/.metadata
/.settings
/data
/*.log
/amq
/.idea
*/*.xmi
*/.DS_Store
*/*/.DS_Store
*.iml
/src/test/resources/output
config/desc/*.xml
/config/*StyleMap.xml
/src/test/output/*.csv
/src/test/output/xmi/

